.css-1xrl4hz {
  position: relative;
  overflow: hidden;
  color: #c9cdcf;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #1b1c1d;
  font-size: 13px;
  line-height: 19px;
  margin: 25px 0 40px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px 0;
  margin: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
  background: rgba(0, 0, 0, 0.85);
  color: #ffffff;
}

.css-zye6j {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 2px;
  padding-right: 10px;
  opacity: 1;
  overflow-x: scroll;
}

.css-zye6j::-webkit-scrollbar {
  height: 8px;
  background: transparent;
}

.css-zye6j::-webkit-scrollbar-thumb {
  background: rgba(121, 129, 134, 0.2);
  border-radius: 8px;
  border: 8px solid rgba(121, 129, 134, 0.3);
}

.css-zye6j::-webkit-scrollbar-thumb:hover {
  border: 8px solid rgba(121, 129, 134, 0.5);
}

.css-zye6j {
  padding-bottom: 20px;
}
.css-1xrl4hz pre.prismjs {
  padding-left: 20px;
  padding-right: 20px;
  background: inherit;
}

pre {
  display: block;
  font-family: monospace;
  unicode-bidi: isolate;
  white-space: pre;
  margin: 1em 0px;
}

.css-8ycahn * .token {
  font-family: ui-monospace, Menlo, Monaco, "Roboto Mono", "Oxygen Mono",
    "Ubuntu Monospace", "Source Code Pro", "Droid Sans Mono", "Courier New",
    monospace;
  -webkit-font-smoothing: antialiased;
}

.css-8ycahn * .token.attr-name {
  color: #96cbfe;
}

.css-8ycahn * .token.tag {
  color: #a8ff60;
}

.css-8ycahn * .token.class-name {
  color: #ffffb6;
}

.css-8ycahn * .token.punctuation {
  color: #ededed;
}

.css-8ycahn * .token.attr-value {
  color: #b474dd;
}

.css-111a2cx {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #1b1c1d;
  z-index: 1;
}

.css-9hpw1j {
  margin: 0;
  border: 0 none;
  padding: 4px 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #c9cdcf;
  background: #1b1c1d;
  font-size: 12px;
  line-height: 16px;
  font-family: inter;
  font-weight: 700;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  margin-left: -1px;
  border-radius: 4px 0 0 0;
}

.css-8ycahn {
  transition: all 2s ease-in-out;
  overflow-y: hidden;
}
.html-display {
  padding: 3px;
}

.css-8ycahn {
  overflow-x: scroll;
}
.css-8ycahn::-webkit-scrollbar {
  display: none;
}

.scroller {
  overflow-x: scroll;
}

.scroller::-webkit-scrollbar {
  height: 8px;
  display: block;
}

.scroller::-webkit-scrollbar-thumb {
  background: rgba(121, 129, 134, 0.2);
  opacity: 0.2;
  border-radius: 8px;
  border: 8px solid rgba(121, 129, 134, 0.3);
}
.scroller::-webkit-scrollbar-thumb:hover {
  border: 8px solid rgba(121, 129, 134, 0.5);
}
